:root {
    --color-text-dark: #000;
    --color-text-light: #DBDFDE;

    --color-theme-green: #12503A;
    --color-theme-red-hover-1: #830A48;
    --color-theme-light-hover-2: #fff;

    --color-theme-bg-dark: #0E1A22;
}

.color-text-dark {
    color: var(--color-text-dark)
}

.color-text-light {
    color: var(--color-text-light);
}

.color-theme-green {
    color: var(--color-theme-green);
}

.color-theme-red-hover-1 {
    color: var(--color-theme-red-hover-1);
}

.color-theme-light-hover-2 {
    color: var(--color-theme-light-hover-2);
}