.intro-wrapper {
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  /* height: 100dvh; */
}

.intro-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.intro-1 img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
}

.intro-1 h1 {
  font-size: .8rem;
  margin: 0 0 .5rem 0;
}

.intro-1 p {
  font-size: 1rem;
}

.intro-1 ul {
  margin: 3rem 0;
}

.intro-2 {
  padding-bottom: 2rem;
}

.intro-2 :first-child {
  padding-bottom: .5rem;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0;
}

.contact-icons li a i {
  font-size: 1.8rem;
  color: var(--color-theme-green);
}

.contact-icons li a i:hover {
  color: #e05d62;
}

.intro-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem 0;
  text-decoration: none;
  cursor: pointer;
}

.menu span {
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
}
