@media only screen and (max-width: 766px) {

}

@media only screen and (min-width: 1000px) {
    .intro-wrapper {
        margin: 6rem;
        flex-direction: row;
        gap: 2rem;
    }

    .intro-1 {
        height: auto;
        flex-basis: 50%;
        
    }

    .intro-1 h1 {
        font-size: 4rem;
    }

    .intro-2 {
        flex-basis: auto;
    }
}