@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) {
  .intro-wrapper {
    padding: 6rem 4rem;
    height: 100dvh;
  }

  /* projects section */

  .projects-wrapper {
    /* margin: 6rem 4rem; */
  }

  .projects-header h2,
  .projects-header h3 {
    font-size: 1.5rem;
  }

  .link-wrapper {
    display: flex;
    gap: 4rem;
  }

  .project-text-content {
    padding: 0;
  }

  .project-item img {
    max-width: 250px;
  }

  .title h4 {
    margin: 0;
    font-size: 1.375rem;
  }
}

@media only screen and (min-width: 1000px) {
  .hide-on-bs {
    display: none;
  }

  /* fonts */

  p {
    font-size: 1.125rem;
    line-height: 1.687rem;
  }

  /* intro page */

  .intro-wrapper {
    height: 100dvh;
    justify-content: space-between;
  }

  .intro-container {
    display: flex;
    flex-direction: row;
  }

  .intro-1,
  .intro-2 {
    width: 50%;
  }

  .intro-1 h1 {
    font-size: 4rem;
  }

  .intro-2 {
    justify-content: center;
    padding: 0;
  }

  .intro-2 p {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .contact-icons {
    gap: 3rem;
  }

  .intro-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
  }

  .menu p {
    font-size: 1.1rem;
  }

  /* projects section */

  .projects-wrapper {
    padding: 6rem 4rem;
  }

  .projects-header h2,
  .projects-header h3 {
    font-size: 1.5rem;
  }

  .link-wrapper {
    display: flex;
    gap: 4rem;
  }

  .project-item {
    padding-bottom: 5rem;
  }

  .project-item img {
    max-width: 400px;
  }

  .title h4 {
    margin: 0;
    font-size: 1.375rem;
  }

  .languages {
    padding: 1rem 0;
  }
  
  .languages li div {
    font-size: .8rem;
    padding: 0.2rem 0.5rem;
  }


  /* about section */

  .about {
    padding: 4rem;
  }
}
