@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 768px) {
    .intro-wrapper {
        margin: 6rem 4rem;
    }
}

@media only screen and (min-width: 1000px) {
    .hide-on-bs {
        display: none;
    }

    .intro-wrapper {
        margin: 6rem;
        flex-direction: row;
        gap: 12rem;
    }

    .intro-1 {
        min-width: 300px;
        
    }

    .intro-1 h1 {
        font-size: 4rem;
    }

    .menu p {
        font-size: 1rem;
    }

    
}